.vscode/settings.json
build/ALL_BUILD.vcxproj
build/ALL_BUILD.vcxproj.filters
build/cmake_install.cmake
build/CMakeCache.txt
build/simplecalc_lib.vcxproj
build/simplecalc_lib.vcxproj.filters
build/simplecalc.sln
build/simplecalc.vcxproj
build/simplecalc.vcxproj.filters
build/ZERO_CHECK.vcxproj
build/ZERO_CHECK.vcxproj.filters
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/generate.stamp
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/generate.stamp.list
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.20.2/CMakeCCompiler.cmake
build/CMakeFiles/3.20.2/CMakeCXXCompiler.cmake
build/CMakeFiles/3.20.2/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.20.2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.20.2/CMakeRCCompiler.cmake
build/CMakeFiles/3.20.2/CMakeSystem.cmake
build/CMakeFiles/3.20.2/VCTargetsPath.txt
build/CMakeFiles/3.20.2/VCTargetsPath.vcxproj
build/CMakeFiles/3.20.2/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.20.2/CompilerIdC/CompilerIdC.exe
build/CMakeFiles/3.20.2/CompilerIdC/CompilerIdC.vcxproj
build/CMakeFiles/3.20.2/CompilerIdC/Debug/CMakeCCompilerId.obj
build/CMakeFiles/3.20.2/CompilerIdC/Debug/CompilerIdC.exe.recipe
build/CMakeFiles/3.20.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
build/CMakeFiles/3.20.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
build/CMakeFiles/3.20.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
build/CMakeFiles/3.20.2/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
build/CMakeFiles/3.20.2/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
build/CMakeFiles/3.20.2/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
build/CMakeFiles/3.20.2/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
build/CMakeFiles/3.20.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.20.2/CompilerIdCXX/CompilerIdCXX.exe
build/CMakeFiles/3.20.2/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/3.20.2/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
build/CMakeFiles/3.20.2/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
build/CMakeFiles/3.20.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/CMakeFiles/3.20.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/CMakeFiles/3.20.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/CMakeFiles/3.20.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/CMakeFiles/3.20.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/CMakeFiles/3.20.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/CMakeFiles/3.20.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/CMakeFiles/3.20.2/x64/Debug/VCTargetsPath.recipe
build/CMakeFiles/3.20.2/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/CMakeFiles/6a135c81e1bb1decaca11c7456580e0a/generate.stamp.rule
build/Debug/simplecalc_lib.lib
build/Debug/simplecalc_lib.pdb
build/Debug/simplecalc.exe
build/Debug/simplecalc.ilk
build/Debug/simplecalc.pdb
build/simplecalc.dir/Debug/main.obj
build/simplecalc.dir/Debug/simplecalc.exe.recipe
build/simplecalc.dir/Debug/vc142.pdb
build/simplecalc.dir/Debug/simplecalc.tlog/CL.command.1.tlog
build/simplecalc.dir/Debug/simplecalc.tlog/CL.read.1.tlog
build/simplecalc.dir/Debug/simplecalc.tlog/CL.write.1.tlog
build/simplecalc.dir/Debug/simplecalc.tlog/CustomBuild.command.1.tlog
build/simplecalc.dir/Debug/simplecalc.tlog/CustomBuild.read.1.tlog
build/simplecalc.dir/Debug/simplecalc.tlog/CustomBuild.write.1.tlog
build/simplecalc.dir/Debug/simplecalc.tlog/link.command.1.tlog
build/simplecalc.dir/Debug/simplecalc.tlog/link.read.1.tlog
build/simplecalc.dir/Debug/simplecalc.tlog/link.write.1.tlog
build/simplecalc.dir/Debug/simplecalc.tlog/simplecalc.lastbuildstate
build/simplecalc_lib.dir/Debug/simplecalc_lib.lib.recipe
build/simplecalc_lib.dir/Debug/simplecalc_lib.pdb
build/simplecalc_lib.dir/Debug/simplecalc_lib.vcxproj.FileListAbsolute.txt
build/simplecalc_lib.dir/Debug/simplecalc.obj
build/simplecalc_lib.dir/Debug/simplecalc_lib.tlog/CL.command.1.tlog
build/simplecalc_lib.dir/Debug/simplecalc_lib.tlog/CL.read.1.tlog
build/simplecalc_lib.dir/Debug/simplecalc_lib.tlog/CL.write.1.tlog
build/simplecalc_lib.dir/Debug/simplecalc_lib.tlog/CustomBuild.command.1.tlog
build/simplecalc_lib.dir/Debug/simplecalc_lib.tlog/CustomBuild.read.1.tlog
build/simplecalc_lib.dir/Debug/simplecalc_lib.tlog/CustomBuild.write.1.tlog
build/simplecalc_lib.dir/Debug/simplecalc_lib.tlog/Lib-link.read.1.tlog
build/simplecalc_lib.dir/Debug/simplecalc_lib.tlog/Lib-link.write.1.tlog
build/simplecalc_lib.dir/Debug/simplecalc_lib.tlog/Lib.command.1.tlog
build/simplecalc_lib.dir/Debug/simplecalc_lib.tlog/simplecalc_lib.lastbuildstate
build/x64/Debug/ALL_BUILD/ALL_BUILD.recipe
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.write.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.recipe
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-b4b3f8008fe90c60478b.json
build/.cmake/api/v1/reply/codemodel-v2-b742f3d04a88c78397d9.json
build/.cmake/api/v1/reply/index-2021-05-25T04-07-52-0528.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Debug-f3f45db876994f55e514.json
build/.cmake/api/v1/reply/target-ALL_BUILD-MinSizeRel-f3f45db876994f55e514.json
build/.cmake/api/v1/reply/target-ALL_BUILD-Release-f3f45db876994f55e514.json
build/.cmake/api/v1/reply/target-ALL_BUILD-RelWithDebInfo-f3f45db876994f55e514.json
build/.cmake/api/v1/reply/target-simplecalc_lib-Debug-aa0862a7456271a4a151.json
build/.cmake/api/v1/reply/target-simplecalc_lib-MinSizeRel-74a9eff828b646ab939c.json
build/.cmake/api/v1/reply/target-simplecalc_lib-Release-3585668f95cef10f84a1.json
build/.cmake/api/v1/reply/target-simplecalc_lib-RelWithDebInfo-53393f049a023d169eb4.json
build/.cmake/api/v1/reply/target-simplecalc-Debug-b02bfde1744d17b64900.json
build/.cmake/api/v1/reply/target-simplecalc-MinSizeRel-f32d3894f94adf285a23.json
build/.cmake/api/v1/reply/target-simplecalc-Release-d5d563968f32187011b6.json
build/.cmake/api/v1/reply/target-simplecalc-RelWithDebInfo-8803e448270174973c6f.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-Debug-b6b244ae49bda1c9e277.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-MinSizeRel-b6b244ae49bda1c9e277.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-Release-b6b244ae49bda1c9e277.json
build/.cmake/api/v1/reply/target-ZERO_CHECK-RelWithDebInfo-b6b244ae49bda1c9e277.json
build/.cmake/api/v1/reply/toolchains-v1-c1d30547238607742a77.json
build/Release/simplecalc_lib.lib
build/Release/simplecalc.exe
build/simplecalc.dir/Release/main.obj
build/simplecalc.dir/Release/simplecalc.exe.recipe
build/simplecalc.dir/Release/simplecalc.tlog/CL.command.1.tlog
build/simplecalc.dir/Release/simplecalc.tlog/CL.read.1.tlog
build/simplecalc.dir/Release/simplecalc.tlog/CL.write.1.tlog
build/simplecalc.dir/Release/simplecalc.tlog/CustomBuild.command.1.tlog
build/simplecalc.dir/Release/simplecalc.tlog/CustomBuild.read.1.tlog
build/simplecalc.dir/Release/simplecalc.tlog/CustomBuild.write.1.tlog
build/simplecalc.dir/Release/simplecalc.tlog/link.command.1.tlog
build/simplecalc.dir/Release/simplecalc.tlog/link.read.1.tlog
build/simplecalc.dir/Release/simplecalc.tlog/link.write.1.tlog
build/simplecalc.dir/Release/simplecalc.tlog/simplecalc.lastbuildstate
build/simplecalc_lib.dir/Release/simplecalc_lib.lib.recipe
build/simplecalc_lib.dir/Release/simplecalc.obj
build/simplecalc_lib.dir/Release/simplecalc_lib.tlog/CL.command.1.tlog
build/simplecalc_lib.dir/Release/simplecalc_lib.tlog/CL.read.1.tlog
build/simplecalc_lib.dir/Release/simplecalc_lib.tlog/CL.write.1.tlog
build/simplecalc_lib.dir/Release/simplecalc_lib.tlog/CustomBuild.command.1.tlog
build/simplecalc_lib.dir/Release/simplecalc_lib.tlog/CustomBuild.read.1.tlog
build/simplecalc_lib.dir/Release/simplecalc_lib.tlog/CustomBuild.write.1.tlog
build/simplecalc_lib.dir/Release/simplecalc_lib.tlog/Lib-link.read.1.tlog
build/simplecalc_lib.dir/Release/simplecalc_lib.tlog/Lib-link.write.1.tlog
build/simplecalc_lib.dir/Release/simplecalc_lib.tlog/Lib.command.1.tlog
build/simplecalc_lib.dir/Release/simplecalc_lib.tlog/simplecalc_lib.lastbuildstate
build/x64/Release/ZERO_CHECK/ZERO_CHECK.recipe
build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
